.login {
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    height: 400px;
    background-color: whitesmoke;
    border: 3px solid #000000;
}

.inputLogin {
    width: 100%;
    background-color: whitesmoke;
    text-align: left;
    padding: 10px;
    margin-bottom: 30px;
    display: inline-block;
    box-sizing: border-box;
}

.labelLogin {
    font-size: 30px;
    font-weight: bolder;
}